@font-face {
    font-family: 'pfdintextcomppro-light';
    src: url('../fonts/pfdintextcomppro-light_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pfdintextcomppro-lightirial';
    src: url('../fonts/pfdintextcomppro-lightital_0.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'pfdintextcomppro-medium';
    src: url('../fonts/pfdintextcomppro-medium_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pfdintextcomppro-regular';
    src: url('../fonts/pfdintextcomppro-regular_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




