@import "reset_browser.css";
/* стили для компьютеров и базовые стили для всех устройств */

body {
    background-color: #f6f6f6;
    font-family: "Manrope", sans-serif;
}

.container {
    display: flex;
    flex-flow: column;
}

/*стили для всей страницы*/

.container .header {
    display: flex;
    flex-flow: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e7e6e6;
}

.container .header .logo {
    flex-grow: 1.2;
    padding-left: 5px;
}

.container .header .header-info {
    display: flex;
    flex-grow: 7;
}

.container .header .header-info .item-2, .item-3 {
    flex-grow: 1.5;
}

.container .header .header-info .item-1 {
    flex-grow: 1.6;
}

.header-info .item-1 p {
    padding-left: 23px;
}

.container .header .logo .imgSmallLeft {
    width: 200px;
    margin-left: 0;
    padding-left: 0;
}

.container .header .header-info .item-2 {
    position: relative;
    padding-top: 20px;
    min-width: 196px;
}

.container .header .header-info .item-2 img {
    position: absolute;
    margin-top: -9px;
    padding-left: 8px;
}

.container .header .header-info .item-2 a {
    text-decoration: none;
    color: #000;
}

.container .header .header-info .item-2 a span {
    font-size: 1.29em;
}

.container .header .header-info .item-3 {
    padding-top: 9px;
    padding-left: 20px;
}

.container .header .header-info .item-3 a {
    background: url("../images/cart.png") no-repeat;
    padding: 2px 0 20px 66px;
    text-decoration: none;
    color: #000;
    margin-bottom: 35px;
}

.container .header .header-info .item-3 span {
    font-family: "Pfdintextcomppro-regular", sans-serif;
    font-size: 1.43em;
}

.container .header .header-info .item-3 .shop {
    margin: -6px 2px 5px 45px;
}

/* стили для header*/

.container .bt {
    background: #ee4521;
    text-align: center;
}

.container .bt .wrap .menu {
    font-family: "Pfdintextcomppro-regular", sans-serif;
    display: flex;
    align-items: center;
    height: 36px;
}

.container .bt .wrap .menu .nav {
    flex-grow: 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.container .bt .wrap .menu .search {
    position: relative;
    width: 251px;
}

.container .bt .wrap .menu .nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.container .bt .wrap .menu .nav a {
    height: 34px;
    line-height: 34px;
    flex: 1 1;
    border-left: 1px solid #e9473b;
    border-right: 1px solid #e7140e;
    text-align: center;
}

.container .bt .wrap .menu .nav a:hover {
    background: url("../images/menu-bg-hov.png");
    color: #2f2f2f;
    position: relative;
}

.container .bt .wrap .menu .nav a span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.container .bt .wrap .menu .search img {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 37px;
    top: 5px;
    cursor: pointer;
}

/*стили для bt*/

.container .catalog {
    display: grid;
    gap: 5px;
    padding: 5px;
    margin-top: 5px;
}

.container .catalog .catalog-item {
    padding-bottom: 3px;
    align-content: flex-end;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

.container .catalog .catalog-item a {
    position: relative;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

/* стили для catalog */

.container .footer {
    display: flex;
    flex-flow: column;
}

.container .footer p {
    font-size: 0.79em;
}

.container .footer-info {
    background-color: #cecdcd;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.container .footer-item {
    background-color: #585454;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    text-align: right;

}

/*стили для footer*/

.container .content {
    padding: 20px 40px 25px 40px;
    min-height: 330px;
}

.container .content h3 {
    padding-top: 15px;
}

.container .content p {
    padding-top: 10px;
}

/*стили для navigation*/

/* конец стилей для компьютеров и базовые стили для всех устройств */


@media screen and (min-width: 837px) {
    .catalog {
        grid-template-columns: repeat(4, 1fr);
    }

    .container .bt .wrap .menu {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 0;
    }

    .container .bt .wrap .mwrap {
        display: none;
    }

    .container .header .mheader-info {
        display: none;
    }
}
/* конец стилей для компьютеров */

@media (min-width: 481px) and (max-width: 837px) {
    .catalog {
        grid-template-columns: repeat(3, 1fr);
    }

    .container .bt .wrap .menu .nav a {
        display: none;
    }

    .container .bt .wrap .mwrap {
        display: block;
        height: 16px;
        width: 4px;
        color: #320606;
        text-align: left;
        margin-top: 8px;
        margin-left: 30px;
        padding-left: 12px;
        position: absolute;
    }

    .container .header .header-info {
        display: none;
    }

    .container .header .mheader-info div {
        float: left;
        margin-left: 25px;
        padding: 5px 10px 2px 25px;
    }

    .container .header .mheader-info a {
        text-decoration: none;
        color: #000;
    }

    .container .header .mheader-info p {
        font-size: 0.786em;
    }

    .container .bt .wrap .menu .search {
        float: right;
    }

    .container .catalog .catalog-item {
        padding-bottom: 0;
    }

    .container .catalog .catalog-item .info span {
        text-align: center;
        font-size: 0.93em;
    }

    .container .catalog .catalog-item .figure img {
        width: 90px;
        height: 90px;
    }

    .container .footer .footer-info {
        padding-left: 5px;
        padding-right: 5px;
    }

    .container .footer p {
        font-size: 0.71em;
    }

    .container .bt .wrap .mwrap .mmenu:before {
        top: 0
    }

    .container .bt .wrap .mwrap .mmenu:after {
        bottom: 0
    }

    .container .bt .wrap .mwrap .mmenu div {
        top: 0;
        bottom: 0;
        margin: auto
    }
}

.container .bt .wrap .mwrap .mmenu:before, .mmenu:after, .mmenu div {
    background: #320606;
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 8px;
}

.container .bt .wrap .mwrap .mmenu {
    width: 20px;
    height: 14px;
    left: 0;
    top: 5px;
    position: absolute;
    margin: auto;
    text-align: left;
}

.container .bt .wrap .mwrap span {
    font-size: 1.43em;
    margin-left: 20px;
    text-transform: uppercase;
}

/* конец стилей для планшетов*/


@media (max-width: 481px) {
    .container .catalog {
        grid-template-columns: repeat(2, 1fr);
    }

    .container .header {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 2px;
    }

    .container .header .logo .imgSmallLeft {
        width: 140px;
    }

    .container .header .header-info {
        display: none;
    }

    .container .header .mheader-info {
        flex-grow: 3;
        padding-top: 5px;
    }

    .container .header .mheader-info a {
        text-decoration: none;
        color: #000;
    }

    .container .header .mheader-info p {
        display: none;
    }

    .container .header .mheader-info div {
        float: left;
        padding-left: 55px;
    }

    .container .bt .wrap .menu .nav .nav-item {
        display: none;
    }

    .container .bt .wrap .mwrap {
        display: block;
        height: 10px;
        width: 3px;
        color: #320606;
        text-align: left;
        margin-top: 10px;
        margin-left: 30px;
        padding-left: 12px;
        position: absolute;
    }

    .container .bt .wrap .menu .search {
        float: right;
    }

    .container .catalog .catalog-item {
        padding-bottom: 0;
    }

    .container .catalog .catalog-item .info span {
        text-align: center;
        font-size: 0.93em;
    }

    .container .catalog .catalog-item .figure img {
        width: 60px;
        height: 60px;
    }

    .container .footer .footer-info {
        padding-left: 3px;
        padding-right: 3px;
    }

    .container .footer p {
        font-size: 0.64em;
    }

    .container .footer .footer-info {
        padding-left: 2px;
        padding-right: 2px;
    }

    .container .bt .wrap .mwrap .mmenu:before {
        top: 0
    }

    .container .bt .wrap .mwrap .mmenu:after {
        bottom: 0
    }

    .container .bt .wrap .mwrap .mmenu div {
        top: 0;
        bottom: 0;
        margin: auto
    }
}

.container .bt .wrap .mwrap .mmenu:before, .mmenu:after, .mmenu div {
    background: #320606;
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 8px;
}

.container .bt .wrap .mwrap .mmenu {
    width: 16px;
    height: 10px;
    left: 0;
    top: 5px;
    position: absolute;
    margin: auto;
    text-align: left;
}

.container .bt .wrap .mwrap span {
    font-size: 1.07em;
    margin-left: 15px;
    text-transform: uppercase;
}

/* конец стилей для мобильных устройств*/


/*Изменение ширины*/
/*
@media screen and (min-width: 983px) {
    .catalog {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 650px) and (max-width: 982px) {
    .catalog {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 0px) and (max-width: 650px) {
    .catalog {
        grid-template-columns: repeat(2, 1fr);
    }
}*/




